<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger Devourer</title>
        <link rel="stylesheet" href="/burger-fsf/public/assets/css/burger_style.css">
        <script src="https:/code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA712mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Coiny">
        <script src="/burger-fsf/models/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>